
.TestHeader {
	text-align: left;

	display: flex;
	flex-direction: column;

	position: relative;

	box-shadow: 0px 0px 7px 9px white;
}

.TestHeaderTitle {
	color: var(--bs-gray-700);
	font-size: 1.5rem;
}

.TestHeaderTitleText {
	pointer-events: none;
}

.TestHeaderIcon {
	margin-right: 0.7rem;
}
