
.debug-outline {
	/*border: solid gray;*/
	border: none;
	border-width: 1px;
}

.TestTextContainer {
	width: 55vw;
	height: 45vh;
	max-height: 45vh;

	font-size: 1.05rem;
	letter-spacing: -0.03rem;
	word-spacing: 0.2rem;

	text-align: left;
	line-height: 1.5rem;

	overflow-y: scroll;

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.TestFooter {
	width: 55vw;

	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
