
.TestView {
	position: absolute;
	top: 20vh;
}

.ReportLink {
	text-decoration: none;
	color: var(--bs-gray-600);
	font-size: 0.7rem;
}

.ProblemContainerHeader {
	width: 55vw;
}

.ProblemContainer {
	width: 55vw;
	height: 45vh;
	max-height: 45vh;

	text-align: left;
	line-height: 1.75rem;

	overflow-y: scroll;
}

.ProblemFooter {
	width: 55vw;
}

.TestSwipeButton {
	position: absolute;
	margin-top: 45vh;
	padding-top: 1rem;
	padding-bottom: 1rem;
	transform: translate(0px, -50%);
}

.rounded-mid {
	border-radius: 0.7rem;
}