
.TestProblemPanel {
	height: 70vh;

	background-color: var(--bs-white);
	border-radius: 5px;
}

.TestProblemHeader {
}

.TestProblemBody {
	height: 87%;
	max-height: 87%;

	text-align: left;
}

.TestPicturePanel {
	height: 70vh;

	background-color: var(--bs-white);
	border-radius: 5px;
}

.TestPicture {
	width: 100%;
	height: 100%;
}