
.dropdown-animated-menu {
	animation: 0.12s cubic-bezier(0, 0.1, 0.1, 1) 0s 1 normal backwards running dropdown-menu-animation;
}

@keyframes dropdown-menu-animation {
	0% {
		opacity: 0;
		transform: translateY(24px);
	}
	30% {
		opacity: 0.1;
	}
}
