
.TestPreviewCard {
	box-shadow: none;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	background-color: var(--bs-white);
}

.TestPreviewCardImg {
	width: 100%;
	max-width: 9rem;
	height: 100%;
	max-height: 9rem;
	background-color: transparent;
}

.TestPreviewCardTitle {
	color: rgba(0, 0, 0, 1.0);
	max-height: 1.5rem;
	overflow-x: hidden;
	background-color: transparent;
}

.TestPreviewCardText {
	height: 5rem;
	max-height: 5rem;

	color: rgba(0, 0, 0, 0.75);
	overflow: hidden;

	background-color: transparent;
}

.TestPreviewCard:hover {
	background-color: grey;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 4px 4px;
}

.text-dec-none {
	text-decoration: none;
	text-decoration-style: none;
}