
.TestBody {
    height: 30vh;
    max-height: 30vh;

    text-align: left;
	
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
	font-size: 1.2rem;
    line-height: 1.5rem;
    
    letter-spacing: -.07rem;
    word-spacing: .2rem;
    
    overflow-y: scroll;
    scrollbar-width: none;
}

.TestBody p:first-letter {
	margin-left: 1.5em;
}

.TestBodyText {
    pointer-events: none;
}